wikitext {
	display: block;
}

heading {
	display: block;
	font-weight: bold;
}

entity:BEFORE {
	content: attr(entity);
	display: inline;
}

entity {
	display: inline;
}

image {
	display: block;
}

link {
	display: block;
}

acronym {
	display: inline;
}

linebreak {
	display: block;
}

unescaped {
	display: block;
}

CODE {
	display: block;
}

DIV {
	display: block;
}

QUOTE {
	display: block;
}

FOOTNOTE {
	display: block;
}

TIP {
	display: block;
}

NOTE {
	display: block;
}

PANEL {
	display: block;
}

PREFORMATTED {
	display: block;
}

PARAGRAPH {
	display: block;
}

WARNING {
	display: block;
}

INFORMATION {
	display: block;
}

DEFINITIONLIST {
	display: block;
	margin-bottom: 20px;
}

DEFINITIONTERM {
	display: block;
	font-weight: bold;
	margin-top: 20px;
}

DEFINITIONITEM {
	 display: block;
	 margin-left: 40px;
}

BULLETEDLIST {
	display: block;
	list-item-style: disc;
	margin: 10px 40px;
}

NUMERICLIST {
	display: block;
	list-item-style: decimal;
	margin: 10px 40px;
}

LISTITEM {
	display: list-item;
}  

/* Table */

TABLE {
	display: table;
}

TABLEROW {
	display: table-row;
}

TABLECELLNORMAL, TABLECELLHEADER {
	display: table-cell;
	border: solid;
} 

TABLECELLHEADER {
	font-weight: bold;
}

/* Inline */

INSERTED {
	display: inline;
}

CITATION {
	display: inline;
}

SUPERSCRIPT {
	display: inline;
}

MONOSPACE {
	display: inline;
}

BOLD {
	display: inline;
}

SPAN {
	display: inline;
}

CODE {
	display: inline;
}

DELETED {
	display: inline;
}

QUOTE {
	display: inline;
}

STRONG {
	display: inline;
}

SUBSCRIPT {
	display: inline;
}

UNDERLINED {
	display: inline;
}

LINK {
	display: inline;
}

EMPHASIS {
	display: inline;
}

ITALIC {
	display: inline;
}
